/* RESET CSS */

html {
  font-size: var(--font-base-size); /* Tamaño de fuente base */
}

* {
  box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho y alto de los elementos */
  margin: 0; /* Elimina el margen por defecto */
  padding: 0; /* Elimina el padding por defecto */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; /* Elimina el margen de los encabezados */
}

ul, ol {
  list-style: none; /* Elimina los estilos de lista por defecto */
}

a {
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  color: inherit; /* Hereda el color del texto */
}

img {
  max-width: 100%; /* Hace que las imágenes sean responsivas */
  height: auto; /* Mantiene la proporción de las imágenes */
}

table {
  border-collapse: collapse; /* Elimina los espacios entre bordes de las tablas */
  width: 100%; /* Establece el ancho de las tablas al 100% */
}

button {
  border: none; /* Elimina el borde por defecto de los botones */
  background: none; /* Elimina el fondo por defecto */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}